/**********************************************/
/* VARIABLES */
/**********************************************/

$header : #009688;
$nav : #3F51B5;
$nav-hover : #5C6BC0;
$white : white;
$footer : #212121;

$break-small: 320px;
$break-middle: 490px;
$break-large: 660px;
